@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --color-background: #0a0a0a;
  --color-accent-green: #00ff00;
  --color-accent-purple: #9d00ff;

  --font-mono: "JetBrains Mono", monospace;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    @apply bg-background text-white font-sans antialiased overflow-x-hidden selection:bg-accent-green selection:text-black;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-mono;
  }
}